a {
  margin: 20px;
}

button {
  margin-left: 50px;
  height: 51px;
  background: none;
  outline: none;
  flex: 1 1 300px;
  padding: 15px 10px;
  font-size: 18px;
  border: 1px solid grey;
  cursor: pointer;
}

button:hover {
  background-color: #eee;
}

button:active {
  background-color: #ddd;
}

 input:hover {
  outline: none;
}